@use 'custom-bootstrap' as *;

.divider{
    height:60px;
    @include media-breakpoint-up(md){
        height:120px;  
    }
}
.divider-sm{
    height:80px;
}

.w-sm-100{
    @include media-breakpoint-down(sm){
        width: 100%;
    }
}

.page-title{
    color: map-get($theme-colors, "primary");
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}

.nav-logo{
    width:160px;
    margin-top: -15px;
    margin-left: -12px;
}

.paul-header{
    background-position: 70% 0%; 
    background-repeat: no-repeat; 
    background-size: cover;  
    height: 600px;
}

.paul-meditation{
    background-position: 5% 90%; 
    background-repeat: no-repeat; 
    background-size: cover;  
    height: 600px;
}

.paul-approach-img{
    width:100%;
}

.approach-text{

    font-size: 1.5em;
}

.title{
    font-size:1.9em;
    margin-bottom:20px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer{
    margin-top:80px;
}

.section-bg-colour{
    background-color: #fae8db;
}